<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>Biblioteca</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AlunoController</display-name>
    <servlet-name>AlunoController</servlet-name>
    <servlet-class>br.com.controller.AlunoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AlunoController</servlet-name>
    <url-pattern>/AlunoController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BibliotecaController</display-name>
    <servlet-name>BibliotecaController</servlet-name>
    <servlet-class>br.com.controller.BibliotecaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BibliotecaController</servlet-name>
    <url-pattern>/BibliotecaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CategoriaController</display-name>
    <servlet-name>CategoriaController</servlet-name>
    <servlet-class>br.com.controller.CategoriaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoriaController</servlet-name>
    <url-pattern>/CategoriaController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FuncionarioController</display-name>
    <servlet-name>FuncionarioController</servlet-name>
    <servlet-class>br.com.controller.FuncionarioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FuncionarioController</servlet-name>
    <url-pattern>/FuncionarioController</url-pattern>
  </servlet-mapping>  
  <servlet>
    <description></description>
    <display-name>LivroController</display-name>
    <servlet-name>LivroController</servlet-name>
    <servlet-class>br.com.controller.LivroController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LivroController</servlet-name>
    <url-pattern>/LivroController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RelatorioController</display-name>
    <servlet-name>RelatorioController</servlet-name>
    <servlet-class>br.com.controller.RelatorioController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RelatorioController</servlet-name>
    <url-pattern>/RelatorioController</url-pattern>
  </servlet-mapping>
</web-app>